[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "govee-local-api"
dynamic = ["version"]

authors = [
  { name="Galorhallen", email="andrea.ponte1987@gmail.com" },
]
description = "Library to comunicate with Govee local API"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent", 
]

[project.urls]
"Homepage" = "https://github.com/Galorhallen/govee-local-api"
"Bug Tracker" = "https://github.com/Galorhallen/govee-local-api/issues"

[tool.black]
target-version = ["py310"]

[tool.pytest.ini_options]
pythonpath = "src"
addopts = [
    "--import-mode=importlib",
]

[tool.setuptools.dynamic]
version = {attr = "govee_local_api.__version__"}